.cel-editor .cm-cel-variable {
	color: #8250df;
	font-weight: 600;
}

.cel-editor .cm-cel-operator {
	color: #cf222e;
	font-weight: 600;
}

.cel-editor .cm-cel-keyword {
	color: #0550ae;
	font-weight: 600;
}

.cel-editor .cm-cel-number {
	color: #0550ae;
}

.cel-editor .cm-cel-string {
	color: #0a3069;
}

/* Dark mode CEL highlighting */
.dark .cel-editor .cm-cel-variable {
	color: #d2a8ff;
}

.dark .cel-editor .cm-cel-operator {
	color: #ff7b72;
}

.dark .cel-editor .cm-cel-keyword {
	color: #79c0ff;
}

.dark .cel-editor .cm-cel-number {
	color: #79c0ff;
}

.dark .cel-editor .cm-cel-string {
	color: #a5d6ff;
}
